*{
	padding: 0px;
	margin: 0px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	z-index: 1;
}
body{
	background-color: black
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container{
	width: 1200px;
	margin: 0px auto;

}
header{
	background-color: black;
	width:100%;
	height: 121px;
	box-shadow: 3px 3px 10px 0px white;
	position: sticky;
	
}
.main-head{
	width: 100%;
	height: inherit;
}
.logo-div{
	width: 20%;
	float: left;
}
.logo-div img{
	height: 100px;
	width: 250px;
	padding: 5px 0px;
}



.navbar-div{
	width: 70%;
	margin-top:59px;
	position:;
	float: right;
}

.navbar ul{
	float: right;
	padding: 0px;
	margin: 0;
	position: relative;	
}
.navbar ul li{
	list-style: none;
	color: white;
	text-transform: uppercase;
	display:inline-block;
	padding: 0px 15px;
	position: relative;
	font-weight: 700;
}
.navbar ul li a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
}
.navbar ul li a:hover{
	border-bottom: 5px solid #e60000;
	padding-bottom:3px;

}
.menubar {
	
	width: 70%;
    background-color: black;
    display: inline-block;
    height: 120px;
    float: right;
	
}
ul.main_menu {
	
    list-style: none;
    margin: 0;
    padding:  0;
    margin-top: 59px;
    float: right;
}

ul.main_menu li {
    list-style: none;
	color: white;
	text-transform: uppercase;
	display:inline-block;
	padding: 0px 15px;
	position: relative;
	font-weight: 700;
}
.catalouge{
	list-style: none;
	color: white;
	text-transform: uppercase;
	display:inline-block;
	position: relative;
	font-weight: 700;
	font-size: 13px;
	cursor: pointer;
}
.main_menu li a {
    text-decoration: none;
    text-transform: uppercase;
    padding:0px 0px;
    display: block;
    color:white;
    font-size: 13px

}
ul.main_menu li a:hover{
	border-bottom:4px solid #e60000;
    padding-bottom: 3px 
}
.main_menu .dropdown li a{
	display: block;
	padding: 10px 30px;
	color: black;
	text-align: left;
	transition: .6s;

}
.main_menu .dropdown li a:hover{
	background-color: #e60000;
	color: white;
	box-shadow: 1px 1px 5px 0px black
}
ul.main_menu li .submenu1{
	background: white;
	color: black;
	position: absolute;
	z-index: 1;
	width:250px;
	transform: scaleY(0);
	transition: .6s;
	padding:10px 5px;
	box-shadow: 3px 3px 10px 0px black
}
.submenu1> li{
	padding: 10px ;
	color: black
}
ul.main_menu li:hover> .submenu1{
	display: block;
	transform: scaleY(1);
}

ul.main_menu li .submenu1 .design_skills {
    float: left;
    width: 250px;
    color: black;
}

ul.main_menu li .submenu1 .design_skills ul{list-style: none;}
ul.main_menu li .submenu1 .design_skills ul li{float: none}
ul.main_menu li .submenu1 .design_skills ul li a:hover{
	transform: translate(20px);
}

ul.main_menu li .submenu1 .development_skills ul{list-style: none;}
ul.main_menu li .submenu1 .development_skills ul li{float: none;}
ul.main_menu li .submenu1 .development_skills ul li a{}
ul.main_menu li .submenu1 .development_skills ul a:hover{
	transform: translate(10px);
}




.sslider{
	margin-top: 5px
}

.autoworld{
	text-align: center;
	margin-top: 40px;
	padding: 10px
}

.autoworld h1{
	text-transform: uppercase;
	font-size: 60px;
	font-family: 'Fjalla One', sans-serif;
}
.autoworld p{
	text-transform: capitalize;
	font-size: 18px;
	margin: 20px 30px

}
.AW-img {
	
	width: 100%;
}
.img1{
	position: relative;
	float: left;
	width: 49.5%;
}

.img1 img{
	width: 100%;
	height: 400px;
	float: left;
}

.img2{
	position: relative;
	float: right;
	width: 49.5%;
}
.img2 img{
	width: 100%;
	height: 400px;
	float: right;
}

.mercedes-row{
	width: 100%;
}
.mercedes-sec1{
	width: 59.5%;
	float: left;
}
.mercedes-sec1 img{
	height: 600px;
	width: 100% ;
	float: left;
}
.mercedes-sec2{
	width: 39.5%;
	float: right;
	box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 550	px 0px inset;
}
.mercedes-sec2 img{
	height: 295px;
	width: 100% ;
	float: right;
}

.audi-row1{
	width: 100%;
}
.audi-row1 img{
	width: 100%;
	height: 400px
}
.audi-row2{
	width: 100%;
	margin-top: 10px;
}
.audi-sec1{
	width: 49.5%;
	float: left;
}

.audi-sec1 img{
	width: 100%;
	height: 300px
}
.audi-sec2{
	width: 49.5%;
	float: right;
}

.audi-sec2 img{
	width: 100%;
	height: 300px
}

.bmw-row1{
	width: 100%;
}

.bmw-sec1{
	width: 49.5%;
	float: left;;
	
}

.bmw-sec1 img{
	width: 100%;
	height: 350px
}
.bmw-sec1 img:hover{
	opacity: 3;
	box-shadow: 3px 3px 30px 0px inset
}
.bmw-sec2{
	width: 49.5%;
	float: right;
	
}
.bmw-sec2 img{
	width: 100%;
	height: 350px
}


.bmw-row2{
	width: 100%;
}
.bmw-row2 img{
	width: 100%
}

.nisaan-row{
	width: 100%
}

.nissan-sec1{
	width: 39.5%;
	float :left
}
.nissan-sec1 div{
	height: 295px
}
.nissan-sec1 div img{
	height: 100%;
	width: 100%
}

.nissan-sec2{
	width: 59.5%;
	float :right
}

.nissan-sec2 img{
	height: 600px;
	width: 100%
}

footer{
	background-color: #0d0d0d;
	padding: 50px;	
	
	height: 40px;
	margin-top: 40px;
	width: 100%;
}


.ftnavbar-div{
	width: 100%;
	height: 20px;
	position: relative;
	float: ;
	margin-right: 3%;
	text-align: center;
}

.ftnavbar ul{
	float: ;
	line-height: 0px;
	padding: 0px;
	margin: 0;	
	line-height: 30px
}
.ftnavbar ul li{
	list-style: none;
	color: #cccccc;
	text-transform: uppercase;
	display: inline-block;
	padding: 0px 15px;
	position: relative;
	font-weight: 700;
}
.ftnavbar ul li a{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #cccccc
	
}
.ftnavbar ul li a:hover{
	color: #e60000;

}

.icons{
	text-align: center;
	width: 100%;
	float: ;
	padding: 0;	
	margin-left: ;
	margin-top: 30px
}
.icons span{
	padding: 0px 20px
}
.icons span i:hover{
	color: #e60000; 
}
/*mercedes section*/
.mercedes-head{
	width: 100%;
	margin-top: 20px;
	padding: 10px 0px;
	font-family: 'Kanit', sans-serif;
}
.md-logo{
	width: 10%;
	float:left; 
}
.md-logo img{
	width: 100%;
	height: 100px
}
.md-h{
	width: 80%;
	float: left;
	line-height: 100px;
	margin-left: 3%;
	font-family: 'Kanit', sans-serif;
}
.md-h h1{
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	font-size: 50px
}
/*ends*/

/*audi section starts*/

.audi-head{
	width: 100%;
	margin-top: 20px;
	padding: 10px 0px;
	
}
.aud-logo{
	width: 20%;
	float:left; 
}
.aud-logo img{
	width: 100%;
	height: 100px
}
.aud-h{
	width: 40%;
	float: left;
	line-height: 100px;
	margin-left: 3%;
}
.aud-h h1{
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	font-size: 50px
}

.lambo-logo{
	width: 15%;
	float:left; 
}
.lambo-logo img{
	width: 120%;
	height: 100px
}
/*ends*/

/* cars on  company main pages */
.car-section1{
	width: 100%;
	margin-top: 30px;
	padding: 10px 0px
}
.car-section1 .mercd1{
	width: 47.5%;
	float: left;
}

.car-section1 .mercd1 img{
	width: 100%;
	height: 300px;
	margin: 2%;
	transition: all 0.3s;
}
.car-section1 .mercd1 img:hover{
	
	transform: scale(1.1);
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.car-section1 .mercd2{
	width: 48.5%;
	float: right;
}
.car-section1 .mercd2 h1{
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	font-size: 40px;
	
}
.car-section1 .mercd2 p{
	text-transform: capitalize;
	font-size: 15px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: left;
	word-spacing: 3px;
	margin-top: 30px;
}

/*ends*/

/*contact us*/

section{
	background-color:white;
	height:550px;
	max-height:100%;
}
.cont-head{
	padding-top:30px	
}
.cont-head h1{
	color:black;
	text-transform:uppercase;
	font-family: 'Kanit', sans-serif;
	font-size:34px;
	word-spacing:3px
}
.cont-head p{
	color:black	;
	margin-top: 8px
}
.cont-sec{
	width:100%;
	margin-top:30px	
}
.cont-input1{
	width:30%;
	float:left;
	
}
.cont-input1 span{
	text-transform:capitalize;
	color:black;
}
.cont-input1 input{
	width:100%;
	padding:10px;
	border:1px solid #d9d9d9;
	border-radius:3px	;
	margin-top:5px;
	color:black;
}
.cont-input1 input:hover{
		
}
.cont-input2{
	width:30%;
	float:left;
	margin-left:5%;
}
.cont-input2 span{
	text-transform:capitalize;
	color:black;
}
.cont-input2 input{
	width:100%;
	padding:10px;
	border:1px solid #d9d9d9;
	border-radius:3px	;
	margin-top:5px;
	color:black;
}
.comment-sec{
	width:66%;
	float:left;
	margin-top:30px
}
.comment-sec span{
	text-transform:capitalize	;
	color:black;
	margin-left:3px
}
.comment-sec textarea{
	width:100%;	
	height:120px;
	border:1px solid #d9d9d9;
	border-radius:3px	;
	margin-top:5px;
	padding:10px;
	color:black;
}
.comment-sec button{
	color: white;
	width: 80px;
	height: 40px;
	padding: 5px;
	border-radius: 3px;
	background-color: #e60000;
	border: #e60000;
	cursor: pointer;
	outline: none;
	margin-top: 5px
}
.comment-sec button:hover{
	background-color: #cc0000;
}

.detail-sec{
	width: 100%;
	margin-top: 20px
}
.car-img{
	width: 64.5%;
	float: left;
}
.car-img img{
	width: 100%;
	height: 500px
}

.car-detail{
	width: 32.5%;
	float: right;
}
.car-detail h1{
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	margin-bottom: 30px;
	font-size: 40px
}
.car-detail .sp1{
	width: 30%;
	float: left;
	margin-bottom: 20px

}
.sp1 p{
	padding: 0px;
	font-weight: bold;
	font-style: oblique;
	text-transform: capitalize;

}
.car-detail .sp2{
	width: 60%;
	float: right;
	margin-left: 10%;
	margin-bottom: 20px
}
.car-detail .sp3{
	width: 100%;
}
.car-detail .sp3 p{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
	margin-top: 20px
}
.car-detail .sp3 span{
	margin-left: 10px;
	color: #e60000 
}
.main-head{
	width: 100%;
}
.gallery-header{
	width: 40%;
	float: left;
}
.gallery-header h1{
	text-align: left;
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	font-size: 40px;
	color: white;
	transform: translateY(20%);
}
.gallery-search-row{
	width: 50%;
	float: right;
}
.search-bar{
	width: 70%;
	background-color: white;
	float: right;
	border-radius: 5px;
	transform: translateY(50%);

}
.main-searchbar{
	width: 100%;	
	height: 30px
}

 .src-input{
	width: 90%;
	float: left;
}
.src-input> input{
	width: 100%;
	height: 20px;
	padding: 5px 10px;
	font-size: 15px;
	color: black;
	background-color:transparent ;
	border: none;
	outline: none;
}

.src-icon{
	float: right;
	width: 10%;
	background-color: transparent;
 	line-height: 30px;
	
}
.src-icon i{
	text-align: center;
	background-color: transparent;
	cursor: pointer;
	width: 100%;
	color: black;
	transform: translateY(50%;);
}





.frame {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px; 
}
.frame img {
	width: 300px;
	height: 300px;
}
.frame .details {
	width: 70%;
	height: 60%;	
	padding: 5% 8%;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(0,0,0,0.7);	
	opacity: 0;
	transition: all 0.8s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
}
.frame:hover .img>	 img{
	filter: blur(5px);
}
.img{
	width:959px;
	float: left;
	margin-right: 1xpx;
	margin-top: 20px
}
.img img{
	width: 100%;
}
.img img:hover{
	filter: blur(5px);
}






